<!--
Icon list:
https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/

oblikovanje gumbov je v map.component.scss (tam je določen položaj gumba na karti)

-->

@if (drawMode) {
  <button 
    mat-button 
    (click)="toggleDrawMode()" 
    [matTooltip]="'PARCEL_DRAW_STOP' | translate">
    <mat-icon>clear</mat-icon>
  </button>
} @else {
  <button 
    mat-button 
    (click)="toggleDrawMode()" 
    [disabled]="!canDraw"
    [matTooltip]="'PARCEL_DRAW_START' | translate">
    <mat-icon>format_shapes</mat-icon>
  </button>

  <button 
    id="select-parcel"
    mat-button 
    (click)="selectParcel()" 
    [disabled]="!canDraw || drawMode"
    [matTooltip]="(selectMode ? 'PARCEL_SELECT_STOP' : 'PARCEL_SELECT_START') | translate">
    <mat-icon>{{ (!canDraw || drawMode) ? 'near_me' : (selectMode ? 'select_all' : 'near_me') }}</mat-icon>
  </button>

  <button 
    id="edit-parcel"
    mat-button 
    (click)="editParcel()" 
    [disabled]="!canDraw || drawMode"
    [matTooltip]="(editMode ? 'PARCEL_EDIT_STOP' : 'PARCEL_EDIT_START') | translate">
    <mat-icon>{{ (!canDraw || drawMode) ? 'create' : (editMode ? 'done_outline' : 'create') }}</mat-icon>
  </button>
}

