#map {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#toolbar {
  position: absolute;
  left: 10px;
  top: 20px;
  z-index: 1;
  display: grid;
  grid-template-columns: 36px 36px 36px;
  grid-template-rows: repeat(20, 36px);
  gap: 2px;
}
