<!--
Icon list:
https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/
-->


@if (drawMode) {
    <button 
        mat-button 
        (click)="toggleDrawMode()" 
        [matTooltip]="'ROAD_DRAW_STOP' | translate">
        <mat-icon>clear</mat-icon>
    </button>
} @else {
    <button 
        mat-button 
        (click)="toggleDrawMode()" 
        [disabled]="!canDraw"         
        [matTooltip]="'ROAD_DRAW_START' | translate">
        <mat-icon>timeline</mat-icon>
    </button>

    <button 
        id="select-road"
        mat-button 
        (click)="selectRoad()" 
        [disabled]="!canDraw || drawMode"
        [matTooltip]="(selectMode ? 'ROAD_SELECT_STOP' : 'ROAD_SELECT_START') | translate">
        <mat-icon>{{ (!canDraw || drawMode) ? 'near_me' : (selectMode ? 'select_all' : 'near_me') }}</mat-icon>
    </button>

    <button 
        id="edit-road"
        mat-button 
        (click)="editRoad()" 
        [disabled]="!canDraw || drawMode"
        [matTooltip]="(editMode ? 'ROAD_EDIT_STOP' : 'ROAD_EDIT_START') | translate">
        <mat-icon>{{ (!canDraw || drawMode) ? 'create' : (editMode ? 'done_outline' : 'create') }}</mat-icon>
    </button>
}



