        
  <div>
    <INPUT type="radio" id="all" name="izbira" value="all" checked (click)="setIzbira('all')">  
    <label for="all">Select All</label> 
    &nbsp; &nbsp; &nbsp;  <!-- trije presledki -->
    <INPUT type="radio" id="one" name="izbira" value="one" (click)="setIzbira('one')"> 
    <label for="one">Select One</label> 
    &nbsp; &nbsp; &nbsp;  <!-- trije presledki -->
    <label for="e_izb">ID:</label>
    <input type="text" id="e_izb" name="e_izb" size="3" [value]="inputId" (input)="onInputIdChange($event)">
    <hr>
  </div>
  <div>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Parc_st</th>
              <th scope="col">Sifko</th>
              <th scope="col">Area</th>
              <th scope="col">Geom</th>
              <th scope="col">Option</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Parcel of ParcelsArray" style="cursor: pointer;">
              <a href="#" (click)="drawParcelGeometry(Parcel); $event.preventDefault()">{{ Parcel.id }}</a>
              <td>{{Parcel.parc_st}}</td>
              <td>{{Parcel.sifko}}</td>
              <td>{{Parcel.area}}</td>
              <td>{{Parcel.geom_wkt}}</td>

              <td style="white-space: nowrap; width: 120px;">
                <div class="d-flex justify-content-between">
                  <button type="button" class="btn btn-success btn-sm me-1" (click)="setUpdate(Parcel)">Edit</button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="setDelete(Parcel)">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table> 
  </div>  

        

