#map {
    position: relative;
    // background-color: #add8e6;
    z-index: 0;
    // border-radius: 5px;
    // Round map borders;
    overflow: hidden;
    width: 100%;                    // mapa zaseda 100% okvirja zgoraj-desno po širini
    height: 100%;                   // in po višini
    //height: calc(100vh - 150px);  // če bi rad, da je mapa večja uporabiš nekaj takega
}
#draw-parcel {     // draw-parcel je id html gradnika, v naši html, na katerega se tu nanašamo
    position: absolute;
    left: 10px;
    top: 20px;
    z-index: 1;
    border-radius: 5px;
    opacity: 1;
}

#draw-road {     // draw-road je id html gradnika, v naši html, na katerega se tu nanašamo
    position: absolute;
    left: 10px;
    top: 50px;
    z-index: 1;
    border-radius: 5px;
    opacity: 1;
}

#draw-address {       // draw-address je id html gradnika, v naši html, na katerega se tu nanašamo
    position: absolute;
    left: 10px;
    top: 80px;
    z-index: 1;
    //border-radius: 5px;
    opacity: 1;
}

#select-parcel {
  position: absolute;
  left: 40px;
  top: 20px; // ali nekaj več kot draw-parcel, da je spodaj
  z-index: 1;
  border-radius: 5px;
  opacity: 1;
}
