<div class="kontrolna-vrstica">
  <div class="izbira-del">
    <INPUT type="radio" id="all" name="izbira" value="all" checked (click)="setIzbira('all')">  
    <label for="all">{{ 'ADDRESS_TABLE_SELECT_ALL' | translate }}</label> 
    &nbsp; &nbsp; &nbsp;
    <INPUT type="radio" id="one" name="izbira" value="one" (click)="setIzbira('one')"> 
    <label for="one">{{ 'ADDRESS_TABLE_SELECT_ONE' | translate }}</label> 
    &nbsp; &nbsp; &nbsp;
    <label for="fname">{{ 'ADDRESS_TABLE_ID' | translate }}</label>
    <input type="text" id="e_izb" name="e_izb" size="3" [value]="inputId" (input)="onInputIdChange($event)">
  </div>
  <div class="iskanje-del">
    <label for="fiu">{{ 'ADDRESS_TABLE_FILTER_LABEL' | translate }}</label>
    <input type="text" id="fiu" name="flu" size="25" [(ngModel)]="filterImeUlice" [placeholder]="'ADDRESS_TABLE_FILTER_PLACEHOLDER' | translate">
    <button type="button" class="btn btn-primary btn-sm me-1" (click)="filtrirajImeUlice()">{{ 'ADDRESS_TABLE_FILTER_BTN' | translate }}</button>
    <button type="button" class="btn btn-secondary btn-sm" (click)="clearFilter()">{{ 'ADDRESS_TABLE_CLEAR_BTN' | translate }}</button>
    <span *ngIf="filtriranArray.length > 0 && filterImeUlice" style="margin-left: 10px; font-weight: bold;">
      {{ 'ADDRESS_TABLE_FOUND' | translate }} {{ filtriranArray.length }}
    </span>
  </div>
</div>

<div class="scrollable-table" #scrollContainer>
  <table class="table table-sm" style="--bs-table-cell-padding-y:0rem; --bs-table-cell-padding-x:0.25rem;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">{{ 'ADDRESS_TABLE_BUILDING_NUM' | translate }}</th>
        <th scope="col">{{ 'ADDRESS_TABLE_STREET' | translate }}</th>
        <th scope="col">{{ 'ADDRESS_TABLE_HOUSE_NUM' | translate }}</th>
        <th scope="col">{{ 'ADDRESS_TABLE_POST_NUM' | translate }}</th>
        <th scope="col">{{ 'ADDRESS_TABLE_POST_NAME' | translate }}</th>
        <th scope="col">{{ 'ADDRESS_TABLE_GEOM' | translate }}</th>
        <th scope="col">{{ 'ADDRESS_TABLE_ACTION' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let address of filtriranArray" [class.selected]="isAddressSelected(address.id)">
        <a href="#" (click)="drawAddressGeometry(address); $event.preventDefault()">{{ address.id }}</a>
        <td>{{address.building_num}}</td>
        <td>{{address.street}}</td>
        <td>{{address.house_num}}</td>
        <td>{{address.post_num}}</td>
        <td>{{address.post_name}}</td>
        <td>{{address.geom_wkt}}</td>
        <td style="white-space: nowrap; width: 120px;">
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-success btn-sm me-1" (click)="setUpdate(address)">{{ 'ADDRESS_TABLE_EDIT' | translate }}</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="setDelete(address)">{{ 'ADDRESS_TABLE_DELETE' | translate }}</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table> 
</div>