<!--
Icon list:
https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/

oblikovanje gumbov je v map.component.scss (tam je določen položaj gumba na karti)

-->



@if (drawMode) {
  <button 
    mat-button 
    (click)="toggleDrawMode()" 
    matTooltip="Stop drawing parcels">
    <mat-icon>clear</mat-icon>
  </button>
} @else {
  <button 
    mat-button 
    (click)="toggleDrawMode()" 
    [disabled]="!canDraw"
    matTooltip="Start drawing parcels">
    <mat-icon>format_shapes</mat-icon>
  </button>

<button 
  id="select-parcel"
  mat-button 
  (click)="selectParcel()" 
  [disabled]="!canDraw"
  [matTooltip]="selectMode ? 'Stop selecting parcels' : 'Select a parcel'">
  <mat-icon>{{ selectMode ? 'select_all' : 'near_me' }}</mat-icon>
</button>
}

